services:
  fastie:
    image: fastie
    container_name: fastie
    volumes:
      - .:/workspace
      - ./hf_cache:/root/.cache/huggingface
      - /data/checkpoints:/workspace/checkpoints
    ports:
      - "7860:7860"
      - "8000:8000"
    ipc: host
    tty: true
    shm_size: '16gb'
    stdin_open: true
    command: bash
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0']
            capabilities: [gpu]
    restart: unless-stopped
